/** User interface styles for the grudsby Lights app. */

.template {
  display: none;
}

/* Shared across all screen sizes. */

.grudsby h1 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  z-index: 1;
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 20px black;
}

.grudsby .drawRegion {
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 30px;
    top: 90px;
    z-index: 1;
    width:230px;
}


.grudsby .approvePlan {
    position: absolute;
    background-color: #f44336; /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    left: 30px;
    top: 160px;
    z-index: 1;
    width:230px;
}

.grudsby h1 {
    top: 22px;
    font-size: 37px;
    left: 30px;
  }

.grudsby .drawRegion:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.grudsby .approvePlan:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

html,
body,
.grudsby,
.grudsby .map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/*.grudsby .panel {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 20px black;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.grudsby .panel h2 {
  margin: 0px;
  padding-bottom: 10px;
}

.grudsby .panel .details {
  overflow: hidden;
  max-height: 500px;
}

.grudsby .panel .error {
  display: none;
}

.grudsby .powered-by-ee {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}
*/
/* Small screens. */

/*@media (max-width: 900px) {
  .grudsby h1 {
    top: 22px;
    font-size: 37px;
    left: 30px;
  }

  /*.grudsby .panel {
    width: 100%;
    bottom: 0px;
    height: 50px;
  }

  .grudsby .panel .details {
    visibility: hidden;
    max-height: 400px;
    padding-right: 10px;
  }

  .grudsby .panel .close {
    display: none;
  }

  .grudsby .panel .toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .grudsby .panel.expanded .details  {
    visibility: visible;
  }

  .grudsby .panel.expanded {
    height: 278px;
  }

  .grudsby .powered-by-ee {
    width: 180px;
  }
}

/* Large screens. */
/*
@media (min-width: 900px) {
  .grudsby h1 {
    left: 30px;
    top: 30px;
    font-size: 56px;
    opacity: .98;
  }

  /*
  .grudsby .panel {
    width: 400px;
    left: 40px;
    top: 126px;
    padding: 14px;
    opacity: .98;
    border-radius: 4px;
  }

  .grudsby .panel .close {
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }

  .grudsby .panel .toggler {
    display: none;
  }
  */
/*}*/
