<launch>

<!-- Low level Arduino launch file -->
  <include file="$(find grudsby_lowlevel)/launch/grudsby_arduino.launch"/>  

<!-- Sensor nodes -->
  <include file="$(find grudsby_imu)/launch/grudsby_imu.launch"/>


<node pkg="rostopic" type="rostopic" name="arbitrary_name" args="pub -r 5 /cmd_vel geometry_msgs/Twist '{linear:{x: 1.0, y: 0.0 ,z: 0.0 } ,  angular:{ x: 0.0 ,y: 0.0, z: 0.0}}'" output="screen"/> 


  <!-- GPS launch file-->
  <!--<include file="$(find nmea_navsat_driver)/launch/launch_nmea_driver.launch"/>  -->
  <node pkg="grudsby_tools" type="gps_spoofer.py" name="gps_spoofer"/>
<node pkg="grudsby_costmap" type="obstacles.py" name="obstacles"/> -->

<!-- Navigation nodes -->
  <include file="$(find grudsby_localization)/launch/grudsby_localization_ekf.launch"/>

  <node pkg="imu_repeater" type="imu_repeater.py" name="imu_repeater"/>

<!-- Vision nodes -->
<!--<include file="$(find grudsby_launch)/launch/vision.launch"/> -->
 
  <include file="$(find grudsby_costmap)/launch/cost.launch"/> 
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_laser" args="0.93209511 0 0.1717 0 0 0 base_link laser"/> 

  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.10.169"/>
    <param name="serial_port" value=""/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-0.707"/>
    <param name="angle_max" value="0.707"/>
  </node>


  <!-- node name="grudsby_simple_planner" pkg="grudsby_simple_planner" type="grudsby_simple_planner">
    <rosparam>
      sp_kp_lin: 0.75
      sp_ki_lin: 0.01
      sp_kd_lin: 0.8
      sp_kp_ang: 2
      sp_ki_ang: 0
      sp_kd_ang: 4
      wait_at_waypoint: true
      goal_noise: 2.0 
    </rosparam>
  </node -->
 
  <remap from="/goal" to="/move_base_simple/goal"/>
  <node name="grudsby_waypoint" pkg="grudsby_waypoint" type="grudsby_waypoint">
  <rosparam>
      wait_at_waypoint: true
    </rosparam>
  </node>
  
  <node pkg="scan_filter" type="scan_inf_repeater.py" name="scan_inf_repeater"/>
<!-- 
	<node name="gucci_gang" pkg="gucci_gang" type="gucci_gang"/>
-->
</launch>

  

