<launch>

<!-- Low level Arduino launch file -->
  <include file="$(find grudsby_lowlevel)/launch/grudsby_arduino.launch"/>  

<!-- Sensor nodes -->
  <include file="$(find grudsby_imu)/launch/grudsby_imu.launch"/>

  <!-- GPS launch file-->
  <include file="$(find nmea_navsat_driver)/launch/launch_nmea_driver.launch"/>  -->
  <!-- <node pkg="grudsby_tools" type="gps_spoofer.py" name="gps_spoofer"/> -->

<!-- Navigation nodes -->
  <include file="$(find grudsby_localization)/launch/grudsby_localization_ekf.launch"/>

  <node pkg="imu_repeater" type="imu_repeater.py" name="imu_repeater"/>

<!-- Vision nodes -->
<!--<include file="$(find grudsby_launch)/launch/vision.launch"/> -->
<include file="$(find grudsby_launch)/launch/laser.launch" />
 
  <include file="$(find grudsby_costmap)/launch/cost-eband.launch"/> 
  

  <!-- node name="grudsby_simple_planner" pkg="grudsby_simple_planner" type="grudsby_simple_planner">
    <rosparam>
      sp_kp_lin: 0.75
      sp_ki_lin: 0.01
      sp_kd_lin: 0.8
      sp_kp_ang: 2
      sp_ki_ang: 0
      sp_kd_ang: 4
      wait_at_waypoint: true
      goal_noise: 2.0 
    </rosparam>
  </node -->
 
  <remap from="/goal" to="/move_base_simple/goal"/>
  <node name="grudsby_waypoint" pkg="grudsby_waypoint" type="grudsby_waypoint">
  <rosparam>
      wait_at_waypoint: true
    </rosparam>
  </node> 
  
  <!--<include file="$(find grudsby_sweeping)/launch/grudsby_sweeping.launch"/>-->

<!-- 
	<node name="gucci_gang" pkg="gucci_gang" type="gucci_gang"/>
-->
</launch>
