<launch>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_laser" args="0.93209511 0 0.1717 0 0 3.1415 base_link laser"/> 
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.10.169"/>
    <param name="serial_port" value=""/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="laser"/>
    <param name="calibrate_time" value="false"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
  </node>

  <node pkg="scan_filter" type="scan_inf_repeater.py" name="scan_inf_repeater"/>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_marking">
    <remap from="scan" to="scan_clipped" />
    <rosparam command="load" file="$(find scan_filter)/config/scan_filter_marking.yaml" />
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_left_clearing">
    <remap from="scan" to="scan_clipped" />
    <remap from="scan_filtered" to="scan_left_edge" />
    <rosparam command="load" file="$(find scan_filter)/config/scan_filter_left_edge.yaml" />
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_right_clearing">
    <remap from="scan" to="scan_clipped" />
    <remap from="scan_filtered" to="scan_right_edge" />
    <rosparam command="load" file="$(find scan_filter)/config/scan_filter_right_edge.yaml" />
  </node>


</launch>

