<?xml version="1.0"?>
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grudsby_costmap)/rviz/robot.rviz" output="screen"/>
  <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" ns = "stereo_camera" />
  <param name="robot_description" command=" $(find xacro)/xacro.py '$(find grudsby_costmap)/urdf/grudsby.urdf.xacro' "/>

</launch>
