
<launch>
  <param name="/use_sim_time" value="true"/>
<!--  <node name="grudsby_simple_planner" pkg="grudsby_simple_planner" type="grudsby_simple_planner">
    <rosparam>
      sp_kp_lin: 0.75
      sp_ki_lin: 0.01
      sp_kd_lin: 0.04
      sp_kp_ang: 3
      sp_ki_ang: 0
      sp_kd_ang: 4
      wait_at_waypoint: true
      goal_noise: 2.0 
    </rosparam>
  </node>-->
  <remap from="/goal" to="/move_base_simple/goal"/>
  <node name="grudsby_waypoint" pkg="grudsby_waypoint" type="grudsby_waypoint">
  <rosparam>
      mower_path_file: '/home/nvidia/GroundsBot-Software/data/mower_path.kml'
      wait_at_waypoint: true
    </rosparam>
  </node>
  
</launch>
