<launch>

<!-- Low level Arduino launch file -->
  <include file="$(find grudsby_lowlevel)/launch/grudsby_arduino.launch"/>  

<!-- Sensor nodes -->
   <include file="$(find grudsby_imu)/launch/grudsby_imu.launch"/>

  <!-- GPS launch file-->
  <include file="$(find nmea_navsat_driver)/launch/launch_nmea_driver.launch"/>:

<!-- Navigation nodes -->
  <include file="$(find grudsby_localization)/launch/grudsby_localization_ekf.launch"/>

  <node name="grudsby_simple_planner" pkg="grudsby_simple_planner" type="grudsby_simple_planner">
    <rosparam>
      sp_kp_lin: 0.7
      sp_ki_lin: 0
      sp_kd_lin: 0
      sp_kp_ang: 4
      sp_ki_ang: 0
      sp_kd_ang: 0

    </rosparam>
  </node>

  <node name="grudsby_waypoint" pkg="grudsby_waypoint" type="grudsby_waypoint"/>
  <param name="wait_at_wapoint" value="true"/>
<!-- 
	<node name="gucci_gang" pkg="gucci_gang" type="gucci_gang"/>
-->
</launch>
