<launch>
  
<!-- Navigation nodes -->
  <node pkg="grudsby_lowlevel" type="vel_to_odom.py" name="grudsby_lowlevel"> </node> 
  <node pkg="temp_repeater" type="temp_repeater.py" name="temp_repeater"> </node> 
  <param name="use_sim_time" value="true" />
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    
    <param name="do_bias_estimation" value="true" />
    <param name="do_adaptive_gain" value="true" />
    <param name="use_mag" value="true" />
    <param name="gain_acc" value="0.05" />
    <param name="gain_mag" value="0.03" />
  </node>

  <include file="$(find grudsby_localization)/launch/grudsby_localization_ekf.launch"/>

  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find grudsby_localization)/bag/driving_no_ekf_david.bag"> 
  </node>

  <!--node name="rviz" pkg="rviz" type="rviz"/-->

</launch>
