<launch>

<!-- Simulation node-->

  <node name="simple_sim" pkg="simple_grudsby_sim" type="node"/>

<!-- Navigation nodes -->

  <include file="$(find grudsby_localization)/launch/grudsby_localization_ekf.launch"/>



  <node name="simple_planner" pkg="grudsby_simple_planner" type="grudsby_simple_planner"/>


  <node name="grudsby_waypoint" pkg="grudsby_waypoint" type="grudsby_waypoint"/>



<!-- Visualization nodes -->
  <node name="rviz" pkg="rviz" type="rviz"/>

<!--
  <node name="gucci_gang" pkg="gucci_gang" type="gucci_gang"/>
-->


</launch>



