<library path="/src">
  <class name="GrudsbyGUI" type="grudsby_gui.grudsby_gui.GrudsbyGUI" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to chat with the simple Grudsby Sim.
    </description>
    <qtgui>
      <group>
        <label>GrudsbyGUI</label>
        <icon type="theme">folder</icon>
        <statustip>Plugin to chat with the Grudsby Sim.</statustip>
      </group>
      <label>GrudsbyGUI</label>
      <icon type="theme">input-gaming</icon>
      <statustip>A Python GUI plugin to chat with Grudsby Sim.</statustip>
    </qtgui>
  </class>
</library>
